# Mac OS misc
.DS_Store

# node.js package management
node_modules/

# 'config' files
runtime.json

# Log files
logs/
*.log
shared/

# tmp
tmp/

# Docker
**/.env

# NPM
.npmrc

# Elastic Beanstalk
*.zip
